<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <%- include('head.html'); -%>
  </head>
  <body>
    <%- include('header.html'); -%>
    <p>Welcome to <%= title %></p>
    <%- include('footer.html'); -%>
  </body>
</html>
